{% extends 'base.html.twig' %}

{% block title %}EquipementBateau{% endblock %}

{% block body %}
    <h1>EquipementBateau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement_bateau.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ equipement_bateau.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipement_bateau_index') }}">back to list</a>

    <a href="{{ path('app_equipement_bateau_edit', {'id': equipement_bateau.id}) }}">edit</a>

    {{ include('equipement_bateau/_delete_form.html.twig') }}
{% endblock %}
