{% extends 'base.html.twig' %}

{% block title %}Traversee index{% endblock %}

{% block body %}
    <h1>Traversee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for traversee in traversees %}
            <tr>
                <td>{{ traversee.id }}</td>
                <td>{{ traversee.date ? traversee.date|date('Y-m-d') : '' }}</td>
                <td>{{ traversee.heure ? traversee.heure|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_traversee_show', {'id': traversee.id}) }}">show</a>
                    <a href="{{ path('app_traversee_edit', {'id': traversee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_traversee_new') }}">Create new</a>
{% endblock %}
