{% extends 'base.html.twig' %}

{% block title %}Bateau index{% endblock %}

{% block body %}
    <h1>Bateau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Longueur</th>
                <th>Largeur</th>
                <th>Vitesse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bateau in bateaus %}
            <tr>
                <td>{{ bateau.id }}</td>
                <td>{{ bateau.nom }}</td>
                <td>{{ bateau.longueur }}</td>
                <td>{{ bateau.largeur }}</td>
                <td>{{ bateau.vitesse }}</td>
                <td>
                    <a href="{{ path('app_bateau_show', {'id': bateau.id}) }}">show</a>
                    <a href="{{ path('app_bateau_edit', {'id': bateau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bateau_new') }}">Create new</a>
{% endblock %}
