{% extends 'base.html.twig' %}

{% block title %}Periode{% endblock %}

{% block body %}
    <h1>Periode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ periode.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ periode.dateDebut ? periode.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ periode.dateFin ? periode.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_periode_index') }}">back to list</a>

    <a href="{{ path('app_periode_edit', {'id': periode.id}) }}">edit</a>

    {{ include('periode/_delete_form.html.twig') }}
{% endblock %}
